@{
    ViewBag.Title = "Home Page";
}
<div align="center">
<img src="http://i.imgur.com/Gxwv1aT.jpg" style="width:85%;height:450px;"/>
    </div>
<div class="aboutme">
    <h2>About Me</h2>
    <p>Lorem ipsum. Lorem ipsum.Lorem ipsum.</p>
    <p>Lorem ipsum. Lorem ipsum.Lorem ipsum.</p>
</div>

<div class="work">
    <h2>Work</h2>
    <p>Lorem ipsum. Lorem ipsum.Lorem ipsum.</p>
    <p>Lorem ipsum. Lorem ipsum.Lorem ipsum.</p>
</div>

<div class="contactme">
    <h2>Contact</h2>
    <p>Lorem ipsum. Lorem ipsum.Lorem ipsum.</p>
    <p>Lorem ipsum. Lorem ipsum.Lorem ipsum.</p>
</div>