@{
    ViewBag.Title = "Home Page";
}
<div align="center">
<img src="http://denverinfill.com/blog/wp-content/uploads/2014/06/2014-06-13_1144-15th-skyline-night.jpg" style="width:85%;height:450px;"/>
    </div>
<div class="aboutme">
    <h2>About Me</h2>
    <p>Lorem ipsum. Lorem ipsum.Lorem ipsum.</p>
    <p>Lorem ipsum. Lorem ipsum.Lorem ipsum.</p>
</div>

<div class="work">
    <h2>Work</h2>
    Battleship<br />
    Hangman<br />
    Poker Hands<br />
    Trivia<br />

</div>

<div class="contactme">
    <h2>Contact</h2>
    <p>Lorem ipsum. Lorem ipsum.Lorem ipsum.</p>
    <p>Lorem ipsum. Lorem ipsum.Lorem ipsum.</p>
</div>