@{
    ViewBag.Title = "Battleship";
}

<div align="center">
    <h2>Battleship</h2>
    <img class="border center" src="http://i.imgur.com/p23jWPw.jpg" style="width:550px;height:250px;"/>
    <br />
    <a href="https://github.com/kpbarry/BattleShip-Kevin/blob/master/BattleShip/bin/Debug/BattleShip.exe?raw=true">Download</a>
    <br />
    <br />
    <br />
    <a href="@Url.Action("Index", "Work")">Back</a>
</div>