@{
    ViewBag.Title = "My Work";
}

<div class="right">
    <p align="center"><img class="topright" src="https://ttygames.files.wordpress.com/2013/04/battleships.png?w=450&h=269" style="width:250px;height:250px;" />
    <img class="bottomright" src="http://media.hamptonroads.com/cache/files/images/1029091.jpg" style="width:250px;height:250px;"  /></p>
    <a href="https://github.com/kpbarry/BattleShip-Kevin/tree/master/BattleShip">Battleship</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://github.com/kpbarry/TriviaGame/tree/master/TriviaGame">Trivia</a>
</div>

<div class="left">
    <p align="center"><img class="topleft" src="/a.jpg" style="width:250px;height:250px;" />
    <img class="bottomleft" src="http://top.trnd.com/uploads/2008/02/1-Hangman.jpg" style="width:250px;height:250px;" /></p>
    <a href="/Home">Portfolio</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://github.com/kpbarry/HangMan/tree/master/HangMan">Hangman</a>
</div>
