@{
    ViewBag.Title = "My Work";
}



<div align="center">
<h2>My Work</h2>
    <div class="top">
        <a href="@Url.Action("Battleship", "Work")"><img class="border carousel active" src="http://i.imgur.com/p23jWPw.jpg" style="width:330px;height:250px;" alt="Battleship"/><img class="border carousel hide" src="http://i.imgur.com/T9SGvf5.jpg" style="width:330px;height:250px;" alt="Battleship" /><img class="border carousel hide" src="http://i.imgur.com/Cq7M6k8.jpg" style="width:330px;height:250px;" alt="Battleship" /></a>        
        <div class ="carousel-next active leftleft">
            Next
        </div>
    </div>
    <div class="top">
        <a href="@Url.Action("Hangman", "Work")"><img class="border carousel active" src="http://i.imgur.com/5e3v6uh.jpg" style="width:330px;height:250px;" alt="Hangman" /><img class="border carousel hide" src="http://i.imgur.com/Y0t1HAJ.jpg" style="width:330px;height:250px;" alt="Hangman" /><img class="border carousel hide" src="http://i.imgur.com/VYPDWsl.jpg" style="width:330px;height:250px;" alt="Hangman" /></a>
        <div class ="carousel-next active rightright">
            Next
        </div>     
    </div>
    <div class="top">
        <a href="@Url.Action("PokerHands", "Work")"><img class="border carousel active" src="http://i.imgur.com/jBOoFwu.jpg" style="width:330px;height:250px;" alt="Poker Hands" /><img class="border carousel hide" src="http://i.imgur.com/RGHL557.jpg" style="width:330px;height:250px;" alt="Poker Hands" /><img class="border carousel hide" src="http://i.imgur.com/kRP9hEw.jpg" style="width:330px;height:250px;" alt="Poker Hands" /></a>
        <div class ="carousel-next active rightmid">
            Next
        </div>    
    </div>
        <div class="top">
        <a href="@Url.Action("Trivia", "Work")"><img class="border carousel active" src="http://i.imgur.com/5wMap62.jpg" style="width:330px;height:250px;" alt="Trivia" /><img class="border carousel hide" src="http://i.imgur.com/Vay3IUu.jpg" style="width:330px;height:250px;" alt="Trivia" /><img class="border carousel hide" src="http://i.imgur.com/uxOZvt8.jpg" style="width:330px;height:250px;" alt="Trivia" /></a>  
        <div class ="carousel-next active leftmid">
            Next
        </div>
    </div>
</div>
