@{
    ViewBag.Title = "My Work";
}

<h2 align="center">My Work</h2>

<div align="center">
    <div class="top">
        <a href="@Url.Action("Battleship", "Work")">
            <img class="border carousel active" src="http://i.imgur.com/p23jWPw.jpg" style="width:350px;height:250px;" />
            <img class="border carousel hide" src="http://i.imgur.com/T9SGvf5.jpg" style="width:350px;height:250px;" />
            <img class="border carousel hide" src="http://i.imgur.com/Cq7M6k8.jpg" style="width:350px;height:250px;"/>
        </a>
        <br />
        <div class ="carousel-next active">
            Next
        </div>
    </div>
    <div class="top">
        <a href="/Work/Trivia">
            <img class="border carousel active" src="http://i.imgur.com/5wMap62.jpg" style="width:350px;height:250px;"  />
            <img class="border carousel hide" src="http://i.imgur.com/Vay3IUu.jpg" style="width:350px;height:250px;" />
            <img class="border carousel hide" src="http://i.imgur.com/uxOZvt8.jpg" style="width:350px;height:250px;" />
        </a> 
        <br />
        <div class ="carousel-next active">
            Next
        </div>
    </div>
</div>
<div align="center">
    <div class="top">
        <a href="/Work/PokerHands">
            <img class="border carousel active" src="http://i.imgur.com/jBOoFwu.jpg" style="width:350px;height:250px;" />
            <img class="border carousel hide" src="http://i.imgur.com/RGHL557.jpg" style="width:350px;height:250px;" />
            <img class="border carousel hide" src="http://i.imgur.com/kRP9hEw.jpg" style="width:350px;height:250px;"/>
        </a>
        <br />
        <div class ="carousel-next active">
            Next
        </div>
    </div>
    <div class="top">
        <a href="/Work/Hangman">
            <img class="border carousel active" src="http://i.imgur.com/5e3v6uh.jpg" style="width:350px;height:250px;" />
            <img class="border carousel hide" src="http://i.imgur.com/Y0t1HAJ.jpg" style="width:350px;height:250px;" />
            <img class="border carousel hide" src="http://i.imgur.com/VYPDWsl.jpg" style="width:350px;height:250px;"/>
        </a>
        <br />
        <div class ="carousel-next active">
            Next
        </div>
    </div>
</div>
